root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[project.json]
indent_size = 2

# C++ Files
[*.{cpp,h,in}]
curly_bracket_next_line = true
indent_brace_style = Allman

[*.csproj]
indent_size = 2

[*.props]
indent_size = 2

[*.xml]
indent_size = 2
