.build/
.ws/
.tools/
lib/bin/
lib/obj/
asm.models/bin/
asm.models/obj/
test/bin/
test/obj/
tools/bin/
tools/obj/
.vs/
.ionide/
repo
artifacts/
node_modules
*.log
deps/win-x64
.dotnet/
**/.antlr/**
**/.data/**
build