# yarn-offline-mirror `${yarn-offline-mirror}`

# yarn-offline-mirror-pruning ${yarn-offline-mirror-pruning}

# yarn-path ${yarn-path}

# disable-self-update-check ${disable-self-update-check}

# unsafe-disable-integrity-migration ${unsafe-disable-integrity-migration}