<Project Sdk="Microsoft.NET.Sdk">
  <Import Project="$(SlnProps)\usings.props"/>
  <ItemGroup>
    <PackageReference Include="z0.workflow" Version="$(ZVer)"/>
  </ItemGroup>
  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>$(FrameworkMoniker)</TargetFramework>
    <ImplicitUsings>enable</ImplicitUsings>
    <Nullable>enable</Nullable>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </PropertyGroup>
</Project>