<Project>
  <Import Project="props/versions.props" />
  <PropertyGroup>
    <FrameworkMoniker>${FrameworkMonker}</FrameworkMoniker>
    <SlnName>${SlnName}</SlnName>
    <Configuration>Release</Configuration>
    <SlnRoot>$(MsBuildThisFileDirectory)..\$(SlnName)</SlnRoot>
    <SlnProps>$(SlnRoot)\props</SlnProps>
    <SlnLib>$(SlnRoot)\lib</SlnLib>
    <SlnVendor>$(SlnRoot)\vendor</SlnVendor>
  </PropertyGroup>
  <Import Project="$(SlnProps)\common.props"/>
</Project>