{
    "msbuild": {
        "enabled": true,
        "Configuration": "Release",
		"omnisharp.disableMSBuildDiagnosticWarning": true
    },
    "omnisharp.disableMSBuildDiagnosticWarning": true,
    "FileOptions": {
        "ExcludeSearchPatterns": [
            "./vendor/**",
            "./build/**"
        ]
    }
}