Toolbase:d:\drives\z\dev\toolbase 
ToolGroup: 
ToolId:dotnet-script 
ToolExe:dotnet-script.exe 
InstallBase:C:\Users\Administrator\.dotnet\tools 
ToolPath:C:\Users\Administrator\.dotnet\tools\dotnet-script.exe 
ToolHome:d:\drives\z\dev\toolbase\dotnet-script 
ToolLogs:d:\drives\z\dev\toolbase\dotnet-script\logs 
ToolDocs:d:\drives\z\dev\toolbase\dotnet-script\docs 
ToolScripts:d:\drives\z\dev\toolbase\dotnet-script\scripts 
ToolConfigLog:d:\drives\z\dev\toolbase\dotnet-script\dotnet-script.config 
ToolRunLog:d:\drives\z\dev\toolbase\dotnet-script\logs\dotnet-script-run.log 
ToolCmdLog:d:\drives\z\dev\toolbase\dotnet-script\logs\dotnet-script-cmd.log 
ToolHelpPath:d:\drives\z\dev\toolbase\dotnet-script\docs\dotnet-script.help 
ToolOut:d:\drives\z\dev\toolbase\dotnet-script\.out 
